* * {
  box-sizing: border-box;
  list-style-type: none;
}

html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 900px;
  background-image: url(img/tmb_93105_4699.jpg);
}

nav {
  width: 100%;
  height: 100px;
  background-color: rgba(238, 238, 238, 0.2);
}

.logo {
  width: 30%;
  height: 100%;
  padding-left: 150px;
  padding-top: 26px;
}

.nav-ul {
  width: 60%;
  height: 100%;
}

.nav-ul {
  float: left;
  height: 100%;
}

.nav-ul li {
  margin: 10px;
  margin-top: 22px;
  height: 100%;
  font-family: arial;
}

.nav-ul li a {
  text-decoration: none;
  color: white;
}

.nav-ul li a:hover {
  color: #19ceab;
}

nav i {
  width: 10%%;
  margin-top: 40px;
  margin-left: 0px;
  color: white;
}

nav i:hover {
  cursor: pointer;
  color: darkgrey;
}

.logo, li, #nav-search-icon {
  float: left;
}

.title {
  height: 60%;
  text-align: center;
  padding-top: 160px;

  color: white;
}

.colorgrey {
  color: darkgrey;
}

.title-button {
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 5px solid white;
  background-color: #19ceab;
  height: 50px;
  width: 140px;
  border-radius: 4px;
  color: white;
}

.title-greentext {
  color: #19ceab;
}

.menu div {
  width: 25%;
  height: 260px;
  float: left;
  text-align: center;
  padding-top: 70px;
  margin-top: 20px;
}

.menu div:hover {
  cursor: pointer;
}

.backgroundblack {
  background-color: #1c2a33;
  border-top: 5px solid #19ceab;
  color: #19ceab;
}

.backgroundgreen {
  background-color: #19ceab;
  border-top: 5px solid white;
  color: white;
}

#icon-pointer, #icon-diamond, #icon-bulb, #icon-laptop {
  font-size: 60px;
  margin-bottom: 10px;
}

main h3 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.left-articles, .center-articles, .right-articles {
  width: 33%;
  float: left;
  padding: 10px;
}

main {
  width: 60%;
  margin: auto;
}

main div article h4 i {
  color: #19ceab;
  margin-right: 10px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #1c2a33;
  color: #19ceab;
  text-align: center;
  padding-top: 40px;
  margin-top: 540px;
}
